### The map() Function in Python
The map() function applies a given function to all items in an input list (or any other iterable) and returns a map object (an iterator). This is particularly useful for transforming data in a list comprehensively.

In [6]:
# map(function, iterable)

In [2]:
def sqr(x):
    return x * x
sqr(2)

number = [1,2,3,4,5,6,7,8,9,10]
list(map(sqr, number))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
# Lambda function with map
number = [1,2,3,4,5,6,7,8,9,10]
list(map(lambda x:x*x,number))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
def get_name(person):
    return person['name']
people = [
    {'name': 'John', 'age': 25},
    {'name': 'Jane', 'age': 30},
    {'name': 'Mike', 'age': 35},
    {'name': 'Sara', 'age': 28}
]

list(map(get_name, people))

['John', 'Jane', 'Mike', 'Sara']

In [ ]:
prices = [100, 200, 300]
discounted = list(map(lambda x: x * 0.9, prices))
print(discounted)

[90.0, 180.0, 270.0]