### if, elif and else conditionals

In [1]:
# 1. Conditionals (if, elif, else)
#example 1
age = 18

if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

You are eligible to vote.

In [31]:
#Example 2:
marks = 70

if marks < 35:
    print("Fail")
elif marks == 35:
    print("Just Passed")
elif marks < 60:
    print("Second Class")
elif marks < 100:
    print("First Class")
else:
    print("Perfect Score!")

First Class

### *Nested conditional Statements*

You can place one or more if, elif, or else statements inside another if, elif, or else statement to create nested conditional statements.

In [7]:
year=int(input("Enter the year"))

if year%4==0:
    if year%100==0:
        if year%400==0:
            print(year,"is a leap year")
        else:
            print(year,"is not a leap year")
    else:
        print(year,"is a leap year")
else:
    print(year, "ia not a leap year")

Enter the year 2005

2005 ia not a leap year

### *Loops*

In [1]:
#2. Loops (for, while)
Examlpe:1
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print("I like", fruit)

I like apple
I like banana
I like cherry

In [27]:
#Example 2
print("even numbers:")
for num in range(2, 12, 2):  #starting at 1 and ending at 11 and jump 2
    print(num)

even numbers:
2
4
6
8
10

In [18]:
#while Loop
#Example:1
count = 1

while count <= 3:
    print("Count is", count)
    count += 1

Count is 2
Count is 3

In [28]:
#Iterable Example 
#Note:- When you use a for loop, Python automatically gets an iterator from the iterable and loops through it using next()
numbers = [10, 20, 30]

iterator = iter(numbers)

print(next(iterator)) 
print(next(iterator)) 
print(next(iterator))

10
20
30

### *Loop Control Statements*

Break:- 
The break statement exits the loop permaturely

In [15]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

continue:-
The continue statement skips the current iteration and continues with the next.

In [21]:
for i in range(10):
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9

Pass:- 
The pass statement is a null operation; it does nothing.

In [26]:
for i in range(10):
    if i==3:
        print("pass is number", i)
        pass
    print(i)

0
1
2
pass is number 3
3
4
5
6
7
8
9

In [30]:
# Nested loops

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

### *Example: Calculate the sum of first N natural numbers using a while and for loop*

In [39]:
n=10   
sum=0
count=1
while count<=n:
    sum = sum + count
    count=count+1
print("first 10 natural number", sum)

first 10 natural number 55

In [43]:
n= 10
sum =0
count =1
for i in range(11):
    sum = sum+i
print(sum)

55

### *prime number between 1 and 20*

In [101]:
for num in range (1,20):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
          print(num)

2
3
5
7
11
13
17
19