### *Creating List*

Defination:- List is a mutable. The list can be changed even after it is created.

In [3]:
#creating a list
fruits = ["apple", "banana", "cherry"]
print(type(fruits))
print(fruits)

<class 'list'>
['apple', 'banana', 'cherry']

### *Accessing List Elements*

In [5]:
fruits = ["apple", "banana", "cherry"]
print(fruits[0])
print(fruits[1])
print(fruits[2])

apple
banana
cherry

In [7]:
#Creating a list with different types of values
fruits = ['apple', 10, 10.5, 'banana', -1]
print(test_list[0])
print(test_list[2])
print(test_list[4])

Engineer
10.5
-1

In [1]:
#Accessing the list with negative indexes
fruits = ["apple", "banana", "cherry"]
print(fruits[-1]) 
print(fruits[-2])

cherry
banana

In [19]:
#accessing the list to return the range of elements
fruits = ["apple", "banana", "cherry"]
print(fruits[0: 2])
print(fruits[-1:-3:-1])

['apple', 'banana']
['cherry', 'banana']

### *Appending List*

The difference between append and insert
 - append is add a single element to the end of the list.
 - insert is add a single element at a specific position in the list.

In [33]:
#appending the elements to the list
fruits = ["apple", "banana", "cherry"]
fruits.append('Orange')
print(fruits)

['apple', 'banana', 'cherry', 'Orange']

### *Inserting List*

In [45]:
#insert the elements to the list
fruits = ["apple", "banana", "cherry"]
fruits.insert(2,"mango")
fruits[2:2] = ["orange", "grapes"]
print(fruits)

['apple', 'banana', 'orange', 'grapes', 'mango', 'cherry']

### *Extend List*

In [69]:
fruits = ["apple", "banana", "cherry"]
addFruits = ["orange", "grapes"]
guests.extend(addFruits)
print(guests)

['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'David', 'Eve', 'orange', 'grapes', 'orange', 'grapes']

### *Remove List*

will remove the first occurrence from the list that matches a specified value.

In [43]:
#removing the elements from the list
fruits = ['apple', 'banana', 'orange', 'grapes', 'mango', 'cherry']
fruits.remove('orange')
print(fruits)

['apple', 'banana', 'grapes', 'mango', 'cherry']

### *pop List*

will remove an element at a specified index from the list. If no index is specified, then the last element will be removed.

In [44]:
fruits = ['apple', 'banana', 'orange', 'grapes', 'mango', 'cherry']
fruits.pop(3)
print(fruits)

['apple', 'banana', 'orange', 'mango', 'cherry']

### *Soring List*

In [49]:
#sorting ascending & descending
prime_numbers = [5, 7, 2, 13, 11, 3, 17]
prime_numbers.sort()
print(prime_numbers)
prime_numbers.sort(reverse = True)
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17]
[17, 13, 11, 7, 5, 3, 2]

### *Concatenating Lists*

In [65]:
fruits = ['apple', 'banana', 'orange']
addFruits = ['grapes', 'mango', 'orange']
mergeFruits = fruits + addFruits
uniqueFruits = list(set(mergeFruits))
print(mergeFruits)
print(uniqueFruits)

['apple', 'banana', 'orange', 'grapes', 'mango', 'orange']
['banana', 'mango', 'grapes', 'orange', 'apple']

In [81]:
#Program 1
list1 = ['xyz', 'yara', 'PYnative']
print (max(list1))

yara

In [1]:
aList = [5, 10, 15, 25]
print(aList[::2])

[5, 15]

In [94]:
#program 2: Write a Python program to get the smallest number from a list.

list = [3, 4,6,8]
min = list[0]
for i in list:
    if i > min:
        min = i
print(min)

8

In [95]:
#program 3:- convert list to string 
fruits = ['apple', 'banana', 'orange']
str1 = ''.join(fruits)
print(str1)

applebananaorange

In [108]:
#program 4:- multilist to convert single list
original_list = [[2, 4, 3], [1, 5, 6], [9], [7, 9, 0]]

flattened = []
for sublist in original_list:
    flattened = flattened + sublist
print(flattened)

[2, 4, 3, 1, 5, 6, 9, 7, 9, 0]

In [ ]:
todo = ["email client", "fix bug", "attend meeting", "code review"]
completed = []

while todo:
    task = todo[0]
    print(f"Completed: {task}")
    completed.append(task)
    todo.remove(task)

print("\nAll tasks done!")
print("Completed tasks:", completed)