# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [5]:
my_set = {1,2,3,4,5,6,7,8,9,10}
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [4]:
my_set.add(11)
print(my_set)
my_set.remove(1)
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [9]:
set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {2,4,6,8,10,12,14}

my_union = set1.union(set2)
print(my_union)

my_intersection = set1.intersection(set2)
print(my_intersection)

my_difference = set1.difference(set2)
print(my_difference)

my_symmetric_difference = set1.symmetric_difference(set2)
print(my_symmetric_difference)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14}
{2, 4, 6, 8, 10}
{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9, 12, 14}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [7]:
sqr = {i**2 for i in range(1, 11)}
print(sorted(sqr))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [10]:
even = (i for i in my_set if i%2 == 0)
print(set(even))

{2, 4, 6, 8, 10}

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [11]:
duplicate = {1,2,3,4,5,6,2,3,4,5,7}
print(duplicate)

{1, 2, 3, 4, 5, 6, 7}

### Assignment 7: Subsets and Supersets
Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [12]:
set1 = {1,2,3,4,5}
set2 = {1,2,3}

is_subset = set2.issubset(set1)
print(is_subset)


is_superset = set1.issuperset(set2)
print(is_superset)

True
True

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [13]:
numbers = [1, 2, 3, 4, 5]

frozen = frozenset(numbers)

print(frozen)

frozenset({1, 2, 3, 4, 5})

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [14]:
numbers = {1, 2, 3, 4, 5}

numbers_list = list(numbers)
numbers_list.append(6)
updated_set = set(numbers_list)
print(updated_set)

{1, 2, 3, 4, 5, 6}

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [17]:
my_dict = {
    frozenset({1, 2}): 10,
    frozenset({3, 4}): 20
}
print(my_dict)

{frozenset({1, 2}): 10, frozenset({3, 4}): 20}

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [ ]:
my_set = {10, 20, 30, 40, 50}

for element in my_set:
    print(element)

50
20
40
10
30

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [19]:
my_set = {1, 2, 3, 4, 5}

while my_set:
    my_set.pop()  
    print(my_set)

{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [22]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 5, 6}

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [23]:
my_set = {10, 20, 30, 40, 50}

elements_to_test = [20, 25, 50, 60]

for elem in elements_to_test:
    if elem in my_set:
        print(f"{elem} is in the set.")
    else:
        print(f"{elem} is NOT in the set.")

20 is in the set.
25 is NOT in the set.
50 is in the set.
60 is NOT in the set.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [24]:
my_set = {(1, 2), (3, 4), (5, 6)}

print(my_set)

{(1, 2), (3, 4), (5, 6)}