# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [2]:
tup = (1,2,3,4,5,6,7,8,9,10)

print(tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [4]:
print(tup[0])
midd = len(tup) // 2
print(tup[midd])
print(tup[-1])

1
6
10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [14]:
print((tup[:3]))
print(tup[-3:])
print(tup[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [ ]:
matrix = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)

print(matrix[2])
print(matrix[1][2])

(1, 2, 3)
6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [19]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

print(tuple1 + tuple2)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [20]:
tup = (10, 20, 30, 20, 10, 20, 40)
print(tup.count(20))
print(tup.index(20))

3
1

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [ ]:
a, b, c = (1, 2, 3)
print(a)
print(b)
print(c)

1
2
3

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [22]:
lst = [1, 2, 3, 4, 5]
tup = tuple(lst)
print(tup)

(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [23]:
matrix = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print(matrix)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [26]:
pos = (1, 2, 3, 4, 5)
conlst = list(pos)
print(conlst)
conlst.append(6)
print(conlst)
print(tuple(conlst))

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [ ]:
str = "jigar"

char_tpl = tuple(str)

joined_string = ''.join(char_tpl)
print(char_tpl)
print(joined_string)

('j', 'i', 'g', 'a', 'r')
jigar

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [1]:
my_dict = {
    (1, 2): 10,
    (3, 4): 20,
    (5, 6): 30
}

print(my_dict)

{(1, 2): 10, (3, 4): 20, (5, 6): 30}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [3]:
nes_tpl = ((1, 2), (3, 4), (5, 6))

for i in nes_tpl:
    for j in i:
        print(j, end=' ')

1 2 3 4 5 6

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [2]:
tpl = (1, 2, 3, 4, 5, 4, 3, 2, 1)

duplicate = set(tpl)
print(tuple(duplicate))

(1, 2, 3, 4, 5)

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [4]:
def get_min(t):
    return min(t)

def get_max(t):
    return max(t)

def get_sum(t):
    return sum(t)

# Sample tuple
sample_tuple = (4, 7, 1, 9, 3)

print(get_min(sample_tuple))
print(get_max(sample_tuple))
print(get_sum(sample_tuple))

1
9
24