### *Tuple*

- Ordered, immutable, allows duplicates.
- Used for fixed data collections.

In [2]:
fruits = ("apple", "banana", "cherry")
print(type(fruits))
print(fruits)

<class 'tuple'>
('apple', 'banana', 'cherry')

### *Indexing*

In [5]:

fruits = ("apple", "banana", "cherry")
print(fruits[1])

banana

### *Slicing*

In [14]:
fruits = ("apple", "banana", "cherry")
print(fruits[0::1])
print(fruits[:-1])

('apple', 'banana', 'cherry')
('apple', 'banana')

### *Length*

In [17]:
fruits = ("apple", "banana", "cherry")
print(len(fruits))

3

### *Iteration*

In [19]:
fruits = ("apple", "banana", "cherry")
for item in fruits:
    print(item)

apple
banana
cherry

### *Concatenation*

In [21]:
fru1 = ("apple", "banana", "cherry")
fru2 = ("mango", "grapes")
print(fru1 + fru2)

('apple', 'banana', 'cherry', 'mango', 'grapes')

### *Repetition*

In [31]:
fruits = ("apple", "banana", "cherry")
print(fruits * 2)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [52]:
weather_log = [
    ("Delhi", 35),
    ("Mumbai", 30),
    ("Kolkata", 32),
    ("Chennai", 34)
]

for city, temp in weather_log:
    print(f"{city} is currently {temp}°C")

Delhi is currently 35°C
Mumbai is currently 30°C
Kolkata is currently 32°C
Chennai is currently 34°C

In [38]:
#Program 1 
num = [10, 20, 30, (10, 20), 40]
ctr = 0
for n in num:
    if isinstance(n, tuple):
        break
    ctr += 1
print(ctr)

3

In [56]:
#program 2
user_location = (28.6139, 77.2090)

# Check if user is in delivery range
delivery_zone = [(28.6000, 77.2000), (28.6200, 77.2200)]  # (min_lat, min_lng), (max_lat, max_lng)
print(delivery_zone[0][0])
if (delivery_zone[0][0] <= user_location[0] <= delivery_zone[1][0]) and \
   (delivery_zone[0][1] <= user_location[1] <= delivery_zone[1][1]):
    print("🛵 Delivery available in your area.")
else:
    print("⚠️ Delivery not available.")

28.6
🛵 Delivery available in your area.

In [61]:
#program 3
age_input = input("Enter your age: ")

print("You entered:", age_input)

# Convert to integer
try:
    age = int(age_input)
    print("Converted Age:", age)
except ValueError:
    print("Invalid input! Please enter a valid number.")

Enter your age:  test

You entered: test
Invalid input! Please enter a valid number.

### concatenation_tuple

In [1]:

a = (1, 2, 3)
b= ("a", "b", "c")

print(a + b)

(1, 2, 3, 'a', 'b', 'c')

### Tuples method

In [7]:
print(a.count(2))
print(a.index(3))

1
2

### packing and unpacking

In [ ]:
# packing
data = ("Mahesh", 30, "Pune")
print(data)

('Mahesh', 30, 'Pune')

### Nested Tuples

In [10]:
lst = ((1,2,3), ('a', 'b', 'c'), (True, False))
print(lst[0])
print(lst[2][1])
print(lst[1][2])

(1, 2, 3)
False
c

### iterating over nested tuple

In [15]:
for nested in lst:
    for i in nested:
        print(i, end=" ")
    print()

1 2 3
a b c
True False