In [23]:
#Naming conventions
first_name = "jigar"

### *Naming Conventions*


Variable names should be descriptive
They must start with a letter or an '_' and contain letters, numbers, and underscores
Variable names are case sensitive

### *Declaring And Assigning Variables*

In [28]:
age=32
height=6.1
name="Krish"
is_student=True

print("age :",age)
print("Height:",height)
print("Name:",name)

age : 32
Height: 6.1
Name: Krish

### *Find varible type*

In [31]:
age_str=str(age)
print(age_str)
print(type(age_str))

32
<class 'str'>

In [1]:
#Programm1

name = "Alice"
age = 25
height = 5.6

print("Name:", name)
print("Age:", age)
print("Height:", height)

Name: Alice
Age: 25
Height: 5.6

In [ ]:
### *Type conversion*

In [42]:
age = 27

## convert integer to string
convert_string = str(age)
print(type(convert_string))

# convert string to integer
convert_int = int(convert_string)
print(type(convert_int))

<class 'str'>
<class 'int'>

In [44]:
## Write a program for sum, division, etc..

a = 10
b = 5

sum_ = a + b
diff = a - b
prod = a * b
quot = a / b

print("Sum:", sum_)
print("Difference:", diff)
print("Product:", prod)
print("Quotient:", quot)

Sum: 15
Difference: 5
Product: 50
Quotient: 2.0

In [7]:
name = "jigar"
Name = "patel"
print(name)
print(Name)

jigar
patel

### *Line Continuation*

In [10]:
total = 1+3+4+4+6+\
        3+5+6
print(total)

32

### *multiple statements on a single line*

In [19]:
x=5;y=4;print(x+y)

9

### *Dynamic Typing*

In [ ]:

# Python allows the type of a variable to change as the program executes
var=10 #int
print(var,type(var))